.contest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.75rem;
  width: 100%;
  transition: all 1s ease;

  @media screen and (min-width: 700px) {
    gap: 3rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
  }

  &.hide {
    transform: scale(0);
    width: 0;
  }

  .contest__choice {
    width: 45%;
    max-width: 210px;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    @media screen and (min-width: 700px) {
      flex-direction: column;
      width: 25%;
      gap: 3.5rem;
    }
  }

  .contest-text {
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: var(--clr-white);
    @media screen and (min-width: 700px) {
      font-size: 1.2rem;
    }
  }

  .result-container {
    width: 100%;
    order: 3;
    margin-top: 2rem;
    @media screen and (min-width: 700px) {
      width: 35%;
      order: 0;
    }
  }
}
