.game-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 6rem;

  .wrapper {
    position: relative;
    background-image: url("../assets/bg-pentagon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    max-width: 340px;
    aspect-ratio: 329 / 313;
  }
}
