.game-container {
  padding-block: 2.4rem;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

  @media screen and (min-width: 700px) {
    padding-block: 5.5rem;
  }
}
