.game-container {
  margin-inline: auto;
  margin-top: 6rem;
  position: relative;
  background-image: url("../assets/bg-pentagon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  aspect-ratio: 329 / 313;
  @media screen and (min-width: 700px) {
    letter-spacing: 3px;
    font-size: 1.2rem;
    max-width: 340px;
  }
  @media screen and (min-width: 1600px) {
    margin-top: 8rem;
  }
}
