.header-container {
  color: var(--clr-white);
  margin-inline: auto;
  padding: 0.8rem 1rem;
  width: 100%;
  max-width: 650px;
  border: 4px solid var(--score-outline);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @media screen and (min-width: 700px) {
    padding: 0.8rem 2rem;
  }

  .game-name {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    & span {
      line-height: 0.9em;
    }

    @media screen and (min-width: 700px) {
      font-size: 1.6rem;
    }
  }
}
